@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: 0 0% 0%;
  --foreground: 0 0% 0%;

  --border: 0 0% 0%;

  --fp: 0.5rem;

  @media (min-width: 768px) {
    --fp: 2dvh;
  }
}

* {
  @apply box-border border-foreground text-wrap;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  @apply text-balance;
}
p {
  @apply text-pretty;
}

@font-face {
  font-family: "Eudoxus Sans";
  src: url("/fonts/EudoxusSans-Regular.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Eudoxus Sans";
  src: url("/fonts/EudoxusSans-Bold.woff2") format("woff2");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "Eudoxus Sans";
  src: url("/fonts/EudoxusSans-ExtraBold.woff2") format("woff2");
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: "Modern Era Mono";
  src: url("/fonts/ModernEraMono-Medium.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Modern Era Mono";
  src: url("/fonts/ModernEraMono-ExtraBold.woff2") format("woff2");
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: "Nevrada Neue";
  src: url("/fonts/NevradaNeue.otf") format("opentype");
  src: url("/fonts/NevradaNeue.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Roboto Flex";
  src: url("/fonts/RobotoFlex-Variable.ttf") format("truetype");
}
