---
import Root from "@/layouts/Root.layout.astro"
import Hero from "@/sections/Hero.section.astro"
import Projects from "@/sections/Projects.section.astro"
---

<Root>
  <Hero />
  <Projects />
  <div class="h-full bg-red-950/80"></div>
  <div class="h-full bg-blue-950/80"></div>
</Root>
