---
import Link from "./Link.astro"
import TextAnim from "./TextAnim.astro"
---

{
  /*
  <footer
  class:list={[
    "fixed bottom-[var(--fp)] left-[var(--fp)] right-[var(--fp)] z-40",
    Astro.props.class,
  ]}
>
  <div
    class="flex justify-between pb-4 px-4 lg:px-16 mx-auto font-mono text-xs uppercase"
  >
    <p class="lg:hidden">
      <TextAnim trigger>Created with</TextAnim>
      <TextAnim trigger
        ><Link href="https://astro.build/" target="_blank">Astro</Link>
      </TextAnim>
    </p>
    <p class="text-right lg:hidden">
      <TextAnim trigger>Powered by</TextAnim>
      <TextAnim trigger
        ><Link href="https://vercel.com/" target="_blank">Vercel</Link>
      </TextAnim>
    </p>
    <p class="hidden lg:inline">
      <TextAnim>Created with</TextAnim>
      <TextAnim
        ><Link href="https://astro.build/" target="_blank">Astro</Link>
      </TextAnim>
    </p>
    <p class="text-right hidden lg:inline">
      <TextAnim>Powered by</TextAnim>
      <TextAnim
        ><Link href="https://vercel.com/" target="_blank">Vercel</Link>
      </TextAnim>
    </p>
  </div>
</footer>
*/
}
