<footer
  class="fixed bottom-4 left-4 right-4 flex justify-between text-xs pb-12 px-4 md:px-16 mx-auto"
>
  <p>
    CREATED WITH<br /><a href="#" target="_blank" rel="noopener noreferrer"
      >ASTRO</a
    >
  </p>
  <p class="text-right">
    POWERED BY<br />
    <a href="#" target="_blank" rel="noopener noreferrer"> VERCEL</a>
  </p>
</footer>
