---
import Link from "./Link.astro"
---

<footer
  class="hidden fixed bottom-4 left-4 right-4 lg:flex justify-between text-xs pb-12 px-4 lg:px-16 mx-auto"
>
  <p>
    CREATED WITH<br /><Link href="https://astro.build/" target="_blank"
      >ASTRO</Link
    >
  </p>
  <p class="text-right">
    POWERED BY<br />
    <Link href="https://vercel.com/" target="_blank">VERCEL</Link>
  </p>
</footer>
