<div
  class="fixed top-0 left-0 size-full grid grid-cols-12 pointer-events-none opacity-10 z-40"
>
  {
    Array(12)
      .fill(0)
      .map((_, i) => (
        <div
          class="h-full"
          class:list={{
            "bg-rose-500/80": i % 2 === 0,
            "bg-rose-500/40": i % 2 !== 0,
          }}
        />
      ))
  }
</div>
