---
import { ArrowRight } from 'lucide'
import Link from '@/components/Link.astro'
import MenuBtn from '@/components/MenuBtn.astro'
import LucideIcon from '@/components/LucideIcon.astro'
---

<header
	class="fixed top-[--fp] left-[--fp] right-[--fp] p-4 z-30 uppercase text-[hsl(var(--header-foreground))]"
>
	<div
		class="flex items-center xl:items-start justify-between text-xs font-mono"
	>
		<p class="text-base font-medium select-none">[MK25]</p>
		<!-- Desktop -->
		<div class="hidden xl:flex text-xs gap-x-12">
			<p>
				Write me an email
				<Link class="block" href="mailto:hi@imangelo.dev"
					>hi@imangelo.dev</Link
				>
			</p>
			<p>
				Social:
				<span class="flex gap-x-2">
					<Link href="https://github.com/michelangelo-valderrama">GTHB</Link>
					<Link href="https://www.linkedin.com/in/michelangelo-v-2a71702b1">LI</Link>
					<Link href="https://twitter.com/imangelo84">X</Link>
				</span>
			</p>
		</div>
		<nav
			class="hidden xl:block *:flex *:items-center *:justify-end *:gap-x-1.5 relative"
		>
			<span id="nav-arrow" class="absolute -left-5 transition-all">
				<LucideIcon class="size-3.5" icon={ArrowRight} />
			</span>
			<a href="/#home">Home</a>
			<a href="/#cv">Rsm</a>
		</nav>
		<!-- Mobile -->
		<MenuBtn />
	</div>
</header>
