---
import Link from "./Link.astro"
import LucideIcon from "./LucideIcon.astro"
import { ArrowRight } from "lucide"
---

<button
  id="btn-menu"
  type="button"
  class={`
    absolute top-3 right-4 z-30
    size-9 flex flex-col gap-y-1.5 justify-center p-1.5
    *:w-full *:h-[2px] *:rounded-lg *:bg-foreground
    *:translate-y-0 *:rotate-0 *:transition *:duration-[500ms]
  `}
>
  <span id="menu-bar-top"></span>
  <span id="menu-bar-bottom"></span>
</button>

<div
  id="ctn-menu"
  class={`
    fixed top-0 left-0 w-full h-full bg-background p-4
    opacity-0 pointer-events-none transition duration-300
  `}
>
  <div
    class="flex flex-col items-end justify-center h-full gap-y-6 max-w-lg mx-auto"
  >
    <nav
      class={`
        text-7xl xs:text-8xl font-bold flex flex-col items-end
        font-sans *:flex *:items-center
      `}
    >
      <p class="text-accent-foreground">
        <LucideIcon class="mr-6 xs:mr-10 sm:mr-14 size-14" icon={ArrowRight} />
        <span>HOME</span>
      </p>
      <p>
        <LucideIcon
          class="hidden mr-6 xs:mr-10 sm:mr-14 size-14"
          icon={ArrowRight}
        />
        <span>RSM</span>
      </p>
    </nav>
    <div class="text-xs grid grid-cols-2 gap-x-4">
      <div class="flex flex-col gap-y-8 truncate">
        <p>
          WRITE ME AN EMAIL<br />
          <Link href="mailto:michelangelovalderrama@gmail.com"
            >MICHELANGELOVALDERRAMA@GMAIL.COM</Link
          >
        </p>
        <p>
          SOCIAL:
          <span class="flex gap-x-2"
            ><Link
              href="https://github.com/michelangelo-valderrama"
              target="_blank">GTHB</Link
            >
            <Link
              href="https://www.linkedin.com/in/michelangelo-v-2a71702b1"
              target="_blank">LI</Link
            >
            <Link href="https://twitter.com/VTokyo9" target="_blank">TW</Link
            ></span
          >
        </p>
      </div>
      <div>
        <p>FULL STACK DEVELOPER AND PASSIONATE ABOUT ART AND SCIENCE</p>
      </div>
    </div>
  </div>
  <div
    class="absolute bottom-12 left-4 md:left-8 right-4 md:right-8 flex justify-between text-xs"
  >
    <p>
      CREATED WITH<br /><Link href="https://astro.build/" target="_blank"
        >ASTRO</Link
      >
    </p>
    <p class="text-right">
      POWERED BY<br />
      <Link href="https://vercel.com/" target="_blank">VERCEL</Link>
    </p>
  </div>
</div>

<style>
  .open #menu-bar-top {
    @apply rotate-[40deg] translate-y-[5px];
  }
  .open #menu-bar-bottom {
    @apply -rotate-[40deg] -translate-y-[3px] w-full;
  }

  .show-menu {
    @apply opacity-100 pointer-events-auto;
  }
</style>

<script>
  const btnMenu = document.getElementById("btn-menu") as HTMLButtonElement
  const ctnMenu = document.getElementById("ctn-menu") as HTMLDivElement

  btnMenu.addEventListener("click", () => {
    btnMenu.classList.toggle("open")
    ctnMenu.classList.toggle("show-menu")
  })
</script>
