---
import { ArrowRight } from "lucide"
import Link from "./Link.astro"
import LucideIcon from "./LucideIcon.astro"
import TextAnim from "./TextAnim.astro"
---

<div class="xl:hidden absolute top-[var(--fp)] right-[var(--fp)] z-40">
  <button
    id="btn-menu"
    type="button"
    class={`
    size-9 flex flex-col gap-y-1.5 justify-center p-1.5
    *:w-full *:h-[2px] *:rounded-lg *:bg-foreground
    *:translate-y-0 *:rotate-0 *:transition *:duration-[400ms]
  `}
  >
    <span id="menu-bar-top"></span>
    <span id="menu-bar-bottom"></span>
  </button>
</div>

<div
  id="ctn-menu"
  class={`
    xl:hidden
    fixed top-0 left-0 size-full bg-background p-4 uppercase
    opacity-0 pointer-events-none transition duration-300
  `}
>
  <div
    class="flex flex-col items-center justify-center h-full gap-y-6 max-w-lg mx-auto"
  >
    <nav
      class={`
        text-7xl xs:text-8xl font-bold flex flex-col items-end
        font-sans *:flex *:items-center
      `}
    >
      <p>
        <TextAnim trigger class="flex items-center mr-4" h="5.5rem">
          <LucideIcon class="size-14" icon={ArrowRight} />
        </TextAnim>
        <TextAnim trigger h="5.5rem">Home</TextAnim>
      </p>
      <p>
        <TextAnim trigger class="mr-4">
          <LucideIcon class="size-14 hidden" icon={ArrowRight} />
        </TextAnim>
        <TextAnim trigger h="5.5rem">Rsm</TextAnim>
      </p>
    </nav>
    <div class="text-xs grid grid-cols-2 gap-x-4">
      <div class="flex flex-col gap-y-8 truncate">
        <p>
          <TextAnim trigger>Write me an email</TextAnim>
          <TextAnim trigger>
            <Link href="mailto:michelangelovalderrama@gmail.com">
              email@gmail.com
            </Link>
          </TextAnim>
        </p>
        <p>
          <TextAnim trigger> SOCIAL: </TextAnim>
          <TextAnim trigger class="flex gap-x-2">
            <Link
              href="https://github.com/michelangelo-valderrama"
              target="_blank">GTHB</Link
            >
            <Link
              href="https://www.linkedin.com/in/michelangelo-v-2a71702b1"
              target="_blank">LI</Link
            >
            <Link href="https://twitter.com/VTokyo9" target="_blank">TW</Link>
          </TextAnim>
        </p>
      </div>
      <div class="flex justify-end">
        <p>
          <TextAnim trigger>FULL STACK DEVELOPER</TextAnim>
        </p>
      </div>
    </div>
  </div>
</div>

<style>
  .open #menu-bar-top {
    @apply rotate-[40deg] translate-y-[5px];
  }
  .open #menu-bar-bottom {
    @apply -rotate-[40deg] -translate-y-[3px] w-full;
  }

  .show-menu {
    @apply opacity-100 pointer-events-auto;
  }
</style>

<script>
  const btnMenu = document.getElementById("btn-menu") as HTMLButtonElement
  const ctnMenu = document.getElementById("ctn-menu") as HTMLDivElement

  btnMenu.addEventListener("click", () => {
    btnMenu.classList.toggle("open")

    ctnMenu.classList.toggle("show-menu")
    ctnMenu.classList.toggle("up-text-anim-trigger")
  })
</script>
