<div
  id="page-frame"
  class="p-[var(--fp)] size-full fixed top-0 left-0 bg-[hsl(var(--frame-color))] transition-all duration-500 ease-in-out"
>
  <div class="relative size-full rounded-2xl bg-background"></div>
</div>

<script>
  const sections = document.querySelectorAll<HTMLDivElement>("[section]")

  sections.forEach((s) => {
    const observer = new IntersectionObserver(
      (entries) => {
        entries.forEach((entry) => {
          if (entry.isIntersecting) {
            document.body.style.setProperty(
              "--frame-color",
              `${s.dataset["frame-color"]}`
            )
            document.body.style.setProperty(
              "--header-foreground",
              `${s.dataset["header-foreground"]}`
            )
          }
        })
      },
      {
        threshold: s.dataset.threshold ? +s.dataset.threshold : 0.5,
      }
    )
    observer.observe(s)
  })
</script>
