---
import { MoveUpRight } from "lucide"
import type { Project } from "@/interfaces/project.interface"
import LucideIcon from "./LucideIcon.astro"

interface Props extends Project {
  class?: string
}

const { date, stack, description, title, type } = Astro.props
---

<article class:list={["grid grid-cols-12 grid-rows-2", Astro.props.class]}>
  <p>{title}</p>
</article>
