---
import { ChevronDown } from 'lucide'
import LucideIcon from '@/components/LucideIcon.astro'
import Section from '@/components/Section.astro'
import TextAnim from '@/components/TextAnim.astro'
---

<Section
  id="experience"
  anim
  frame="0 0% 0%"
  fg="46 100% 56%"
  bg="0 0 0"
  class="xs:transition xs:duration-500 xs:opacity-0 flex flex-col justify-center"
>
  <h2
    class="font-black text-5xl xs:text-6xl sm:text-7xl md:text-8xl lg:text-9xl uppercase mb-10"
  >
    <TextAnim trigger h="5.5rem">Experience</TextAnim>
  </h2>
  <div
    class="flex flex-col sm:flex-row gap-x-6 md:gap-x-8 sm:items-end py-6 px-4 border-b hover:cursor-pointer"
  >
    <span class="font-mono block text-sm md:text-base">2024/now</span>
    <div class="flex flex-col sm:flex-row flex-1 gap-x-4 sm:items-center">
      <div class="flex gap-x-4 items-center">
        <span class="text-xl md:text-2xl font-bold">IF7SPORTS</span>
        <span>
          <hr class="w-10" />
        </span>
      </div>
      <div class="flex flex-1 gap-x-4 justify-between">
        <span class="text-lg md:text-xl w-full">Full Stack Developer</span>
      </div>
    </div>
  </div>
</Section>
