---
import Section from "@/components/Section.astro"
import StarsEffect from "@/components/StarsEffect.astro"
import TextAnim from "@/components/TextAnim.astro"
import Mesh from "@/svgs/Mesh.svg.astro"
---

<Section class="flex flex-col justify-end items-center absolute top-0 left-0">
  <div class="text-center px-2 uppercase select-none mb-6">
    <h1 class="text-5xl sm:text-6xl md:text-8xl font-serif relative">
      <TextAnim h="5rem">Michelangelo</TextAnim>
      <!-- <TextAnim
        h="4.25rem"
        class="absolute top-0 left-0 blur-lg md:blur-2xl w-full text-center"
        >Michelangelo</TextAnim
      > -->
    </h1>
    <p class="text-sm sm:text-base">
      <TextAnim d="400ms" h="2.5rem">
        Full stack developer & passionate about art and science
      </TextAnim>
    </p>
  </div>
  <div
    class="flex items-center justify-center absolute top-0 left-0 size-full pointer-events-none pb-20 px-8"
  >
    <Mesh
      id="mesh"
      class="h-full max-h-[500px] w-auto text-accent-foreground"
      stroke-dasharray="1000"
      stroke-dashoffset="1000"
    />
  </div>
</Section>
<!-- <StarsEffect /> -->
<div class="h-full"></div>

<style>
  #mesh {
    animation: dash 1500ms forwards ease-in;
  }

  @keyframes dash {
    to {
      stroke-dashoffset: 0;
    }
  }
</style>
