---
import Section from "@/components/Section.astro"
import StarsEffect from "@/components/StarsEffect.astro"
import Mesh from "@/svgs/Mesh.svg.astro"
---

<Section class="flex flex-col justify-end items-center absolute top-0 left-0">
  <div class="mb-8 flex items-center justify-center flex-1 mt-20">
    <Mesh class="min-h-[300px] max-h-[400px] md:h-auto" />
  </div>
  <div class="text-center mb-6 lg:mb-12 px-2">
    <h1
      class="text-4xl xs:text-5xl sm:text-6xl md:text-7xl font-bold font-serif"
    >
      MICHELANGELO
    </h1>
    <p class="text-sm sm:text-base">
      FULL STACK DEVELOPER AND PASSIONATE ABOUT ART AND SCIENCE
    </p>
  </div>
</Section>
<StarsEffect class="" />
