---
import ProjectsDesktop from "./ProjectsDesktop.section.astro"
import ProjectsMobile from "./ProjectsMobile.section.astro"
---

<div
  style="--foreground: 0 0% 0%"
  class={`
    bg-[hsl(var(--p-bg))]
    text-foreground border-foreground
    rounded-2xl
    transition-colors duration-300
  `}
>
  <ProjectsDesktop />
  <ProjectsMobile />
</div>

<script>
  import { scroll, animate } from "motion"

  const projectsLen = document.querySelectorAll<HTMLDivElement>(
    "[project-item-scroll]"
  )!.length

  scroll(
    animate("[project-item-scroll]", {
      transform: ["translateX(0)", `translateX(-${projectsLen - 1}00%)`],
    }),
    {
      container: document.getElementById("content")!,
      target: document.getElementById("projects-section-desktop")!,
    }
  )
</script>
