---
import Section from "@/components/Section.astro"
import Project from "@/components/Project.astro"
import type { Project as ProyectInterface } from "@/interfaces/project.interface"
import projects from "@/data/projects.json"
---

<Section
  frameThreshold={0}
  frameColor="var(--border)"
  class="xl:hidden h-auto p-0"
>
  <h2
    class="text-5xl xs:text-6xl sm:text-7xl font-black uppercase mt-16 text-right pr-4"
  >
    Projects
  </h2>
  <div class="flex flex-col snap-mandatory snap-y">
    {
      projects.map((p) => (
        <div class="h-full flex items-center justify-center">
          <Project
            project-item-color
            class="snap-center pb-24 py-12"
            {...(p as ProyectInterface)}
          />
        </div>
      ))
    }
  </div>
</Section>
