---
import NoiseEffect from "@/components/NoiseEffect.astro"
import Header from "@/components/Header.astro"
import Footer from "@/components/Footer.astro"
import PageFrame from "@/components/PageFrame.astro"
import "@/styles/global.css"
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body class="text-foreground bg-black">
    <PageFrame>
      <Header />
      <div class="size-full flex flex-col">
        <slot />
      </div>
      <Footer />
    </PageFrame>
    <!-- <NoiseEffect /> -->
  </body>
</html>
