---
import NoiseEffect from "@/components/NoiseEffect.astro"
import Header from "@/components/Header.astro"
import PageFrame from "@/components/PageFrame.astro"
import "@/styles/global.css"
---

<!doctype html>
<html lang="en" class="overscroll-none">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="shortcut icon" href="favicon.svg" type="image/svg+xml" />
    <meta name="theme-color" content="#000" />
    <title>Document</title>
  </head>
  <body
    class="font-sans text-foreground bg-background h-dvh select-none xs:transition-all"
  >
    <PageFrame />
    <Header />
    <main class="h-full p-[--fp]">
      <div
        id="content"
        class="relative h-full rounded-2xl overflow-x-hidden space-y-[--fp] snap-proximity snap-y"
      >
        <slot />
      </div>
    </main>
    <NoiseEffect />
  </body>
</html>

<script>
  if ((navigator as any).userAgentData) {
    if (
      (navigator as any).userAgentData.brands.some(
        (b: any) => b.brand == "Chromium"
      )
    ) {
      console.log("chromium")
      document
        .querySelector("#content")!
        .classList.remove("snap-proximity", "snap-y")
    }
  }
</script>
