---
import NoiseEffect from "@/components/NoiseEffect.astro"
import Header from "@/components/Header.astro"
import PageFrame from "@/components/PageFrame.astro"
import "@/styles/global.css"
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="shortcut icon" href="favicon.svg" type="image/svg+xml" />
    <title>Document</title>
  </head>
  <body class="font-sans text-foreground bg-black h-dvh">
    <PageFrame />
    <Header />
    <main class="h-full p-[var(--fp)]">
      <div
        id="content"
        class="relative h-full rounded-2xl overflow-x-hidden overflow-y-scroll space-y-[var(--fp)] snap-mandatory snap-y"
      >
        <slot />
      </div>
    </main>
    <NoiseEffect />
    <!-- <GridOverlay /> -->
  </body>
</html>
